<!doctype html>
<html ng-app="todoApp">
<head>
    <script src="lib/angular.min.js"></script>
    <script src="lib/lodash.min.js"></script>
    <script src="app/todo.js"></script>
</head>
<body>
<h2>Todo</h2>
<div ng-controller="TodoController">
    <a ng-click="selectCar({})">deselect</a>
    <p>{{selectedCar || 'nic'}}</p>
    <svg width="1000" height="700" xmlns="http://www.w3.org/2000/svg">
        <g ng-repeat="car in cars"
           ng-click="selectCar(car)"
           ng-attr-transform="translate({{car.position.x % 1000}}, {{car.position.y}})">
            <!--<rect ng-attr-width="{{car.width + safeGap}}" ng-attr-height="{{car.height}}" stroke="blue" fill="none" stroke-width="1px"></rect>-->
            <rect ng-attr-width="{{car.width}}" ng-attr-height="{{car.height}}" ng-attr-stroke="{{car.selected ? 'pink' : 'black'}}" stroke-width="3px"></rect>
            <text x="0" y="10" fill="red">{{car.id}}</text>

            <circle ng-if="car.deccelerating"
                r="5" stroke="red" fill="red" cx="0" ng-attr-cy="{{car.height / 2}}"></circle>

            <circle ng-if="car.accelerating"
                    r="5" stroke="green" fill="green" ng-attr-cx="{{car.width}}" ng-attr-cy="{{car.height / 2}}"></circle>

            <text ng-repeat="(key, value) in car.debug" x="0" ng-attr-y="{{$index * 10 + 20}}" font-size="6">{{key}}: {{value}}</text>

        </g>

    </svg>

</div>
</body>
</html>